/*#### Requirements (CSS)

- Use display, clear, and floats to position elements on the page
- Look up and use at least two CSS properties and values that may not have been covered in class, for example:
  - `background: url("YOUR-LINK.COM")`
  - `list-style`
  - `text-decoration`
  - `text-transform`
- final product perfectly matches all items of page
- all major parts of CSS explained with comments

**Bonus:**
- The 'frame.png' image is also unnecessary. Can you do it with `box-shadow`, `border-radius`, and `position: relative`?
- Add @media queries for phone and iPad styling
*/

/*#### Completed Requirements (CSS)
- Use a single external CSS stylesheet to style all pages: ;																DONE
- The repeating background image is oldschool. Can you do it with a CSS3 gradient? 											DONE
*/

* {
	font-family: sans-serif;
}

header {
	height: 400px;
	width: 100%;
	background: -webkit-linear-gradient(#4C7CA2, #2E618C);
	background: -o-linear-gradient(#4C7CA2, #2E618C);
	background: -moz-linear-gradient(#4C7CA2, #2E618C));
	background: linear-gradient(#4C7CA2, #2E618C));
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.container {
	margin: 11% 8%;
}

.logo-and-login {
	float: right;
}

.phones {
	float: left;
}

.introduction-text {
	float: right;
	text-align: left;
	width: 50%;
	box-shadow: 10px 10px 5px #888888;
}

.login-button {
	background-color: #678FB0;
	color: #CAD8E6;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	border: none;
	display: inline;
    /*padding: 15px 32px;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
    /*margin: 4px 2px;*/
}

h1 {
	color: #2E4D66;
}

h2 {
	clear: both;
}

ul {
	color: blue;
	display: inline;
}

li {
	display: inline;
}

footer {
	text-align: center;
	text-transform: uppercase;
	color: gray;
	clear: both;
}
